.app {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  margin: 0;
  background-color: rgb(205, 213, 219);
}

.app__header{
  color: rgb(49, 49, 85);
}

.app__body{
  border: 2px solid black;
  border-radius: 10px;
  width: 80%;
  height: auto;
  padding-top: 30px;
  min-height: 400px;
  margin-top: 60px;
  margin-bottom: 20px;
  background-color: beige;
  color: black;
  font-size: 10px;
}


@media (max-width: 768px) {
  .app__body{
    min-height: 300px;
  }

  .footer {
    text-decoration: none;
  }
  
}